.button-container {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-right: 10px;
}

.delta {
  display: flex;
  align-items: center;
}

.add-button-container {
  width: 50px;
  height: 50px;
}

.actions {
  font-weight: normal;
}
