<h2>Alphabet Σ</h2>
<mat-form-field>
  <input matInput [(ngModel)]="inputSymbol" placeholder="Insert symbol">
</mat-form-field>
<button mat-button (click)="onAddClicked(inputSymbol)" class="add-button"><mat-icon>add</mat-icon></button>
<ul>
  <li *ngFor="let symbol of this.turingMachine.alphabet">{{symbol}}
    <button mat-button (click)="onDeleteClicked(symbol)" class="delete-button"><mat-icon>highlight_off</mat-icon></button>
    <button mat-button (click)="onAddToTapeClicked(symbol)" class="add-button"><mat-icon>add</mat-icon></button>
  </li>
</ul>
<h2>Tape<button mat-button (click)="onDeleteFromTapeClicked()" class="delete-button"><mat-icon>highlight_off</mat-icon></button></h2>
