<h2>Tape</h2>
<mat-form-field>
  <input matInput
    [(ngModel)]="tape"
    (keydown.enter)="onSaveTapeClicked()"
    placeholder="Insert tape">
</mat-form-field>
<button mat-button class="button" (click)="onSaveTapeClicked()">
  <mat-icon>add_circle_outline</mat-icon>
</button>
<button mat-button class="button" (click)="onEmptyTapeClicked()">
  <mat-icon>delete</mat-icon>
</button>
<h2>Alphabet Σ</h2>
<mat-form-field hintLabel="Max 1 character">
  <input matInput
    [(ngModel)]="inputSymbol"
    maxlength="1"
    (keydown.enter)="onAddClicked(inputSymbol)"
    placeholder="Insert symbol">
</mat-form-field>
<button mat-button class="button" (click)="onAddClicked(inputSymbol)">
  <mat-icon>add_circle_outline</mat-icon>
</button>
<ul>
  <li *ngFor="let symbol of this.turingMachine._alphabet">{{ replaceEmptyCharacter(symbol) }}
    <button mat-button class="button" (click)="onDeleteClicked(symbol)">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </li>
</ul>
<h3 style="color:rgb(30, 0, 128);">Head position </h3>
  <button mat-button class="button" (click)="onHeadToStartClicked()">Start
  </button>
  <button mat-button class="button" (click)="onHeadToEndClicked()">End
  </button>
  <button mat-button class="button" (click)="onHeadLeftClicked()">Left
  </button>
  <button mat-button class="button" (click)="onHeadRightClicked()">Right
  </button>
