<h2>Tape</h2>
<mat-form-field>
  <input matInput
    [(ngModel)]="tape"
    (keydown.enter)="onSaveTapeClicked()"
    placeholder="Insert tape">
</mat-form-field>
<button mat-button (click)="onSaveTapeClicked()" class="add-button">
  <mat-icon>add_circle_outline</mat-icon>
</button>
<button mat-button (click)="onEmptyTapeClicked()" class="delete-button">
  <mat-icon>delete</mat-icon>
</button>
<h2>Alphabet Σ</h2>
<mat-form-field hintLabel="Max 1 character">
  <input matInput
    [(ngModel)]="inputSymbol"
    maxlength="1"
    (keydown.enter)="onAddClicked(inputSymbol)"
    placeholder="Insert symbol">
</mat-form-field>
<button mat-button (click)="onAddClicked(inputSymbol)" class="add-button">
  <mat-icon>add_circle_outline</mat-icon>
</button>
<ul>
  <li *ngFor="let symbol of this.turingMachine._alphabet">{{ replaceEmptyCharacter(symbol) }}
    <button mat-button (click)="onDeleteClicked(symbol)" class="delete-button">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </li>
</ul>
<h3>Head position
  <button mat-button (click)="onHeadToStartClicked()">Start
  </button>
  <button mat-button (click)="onHeadToEndClicked()">End
  </button>
  <button mat-button (click)="onHeadLeftClicked()">Left
  </button>
  <button mat-button (click)="onHeadRightClicked()">Right
  </button>
</h3>
