.tape {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: 80%;
  overflow-x: auto;
}

.edgepath {
  marker-end: url(https://turingmachine.io/#arrowhead);
}

.tuc-logo {
  position: fixed;
  bottom: 0;
  left: 0;
}

.tuc-logo img {
  width: 75px;
}

.tuc-logo div {
  font-weight: bold;
  color: #8A232E;
}
