<!-- <button
  mat-button
  (click)="openDialog(state.id)"
  *ngFor="let state of turingMachine.states">{{state.id}}
</button> -->
<div class="state-boundary">
  <app-state-card
    *ngFor="let state of turingMachine.states"
    [id]="state.id"
    [state]="state"
    cdkDrag
    (cdkDragMoved)="onDragMove()"
    (cdkDragReleased)="onDragRelease(state.id)"
    [ngStyle]="{'transform': 'translate(' + state.translateX + 'px, ' + state.translateY + 'px)'}"
  ></app-state-card>
</div>
<div class="tuc-logo">
  <img src="./assets/logoPNG.PNG">
  <div>Paraskevas Kontoulis</div>
</div>
<app-tape class="tape"></app-tape>
