<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Turing Machine</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onShiftMachineClicked()">
    <mat-icon>ShiftMachine</mat-icon>
  </button>
  <button mat-icon-button (click)="onAddClicked()">
    <mat-icon>add_circle_outline</mat-icon></button>
  <span>Create new State</span>
  <button mat-icon-button (click)="onStepRunClicked()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <span>Step Run</span>
  <button mat-icon-button (click)="onPlayClicked()">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <span>Run</span>
</mat-toolbar>
