<mat-toolbar>
  <button class="button2" (click)="onPlayClicked()">
   <h3>MyTuringMachine</h3>
  </button>
  <span class="spacer"></span>
  <button class="button" (click)="onCopyingMachineClicked()">
    <h2>CopyingMachine</h2>
  </button>
  <button class="button" (click)="onShiftMachineClicked()">
    <h2>RightShiftingMachine</h2>
  </button>
  <button class="button" (click)="onDecisionMachineClicked()">
    <h2>DecidingMachine</h2>
  </button>
  <button class="button" (click)="onRecursiveMachineClicked()">
    <h2>RecursiveMachine</h2>
  </button>
  <span class="spacer"></span>
  <button class="button3" (click)="onAddClicked()">
    <mat-icon>add_circle_outline</mat-icon></button>
  <span>Create new State</span>
  <button class="button3" (click)="onStepRunClicked()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <span>Step Run</span>
  <button class="button3" (click)="onPlayClicked()">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <span>Run</span>
</mat-toolbar>
